[Desktop Entry]
Name=Lobotomy Corporation
Comment=Play this game on Steam
Exec=steam steam://rungameid/568220
Icon=steam
Terminal=false
Type=Application
Categories=Game;
